<%= form_with(url: search_books_path, method: :get) do |f| %>
  <div class="flex">
    <div>
      <p>
        <%= f.label :isbn, "ISBN-No.：" %>
        <%= f.number_field :isbn %>
        <%= f.submit "検索" %>
      </p>
    </div>
  </div>
<% end %>
<%= flash[:danger] %>
<%= @result %>